In [62]:
# Installation of unofficial IMDB API
# !pip install imdbpy
import imdb, pandas as pd, numpy as np, matplotlib.pyplot as plt
# import sqlalchemy

ia = imdb.IMDb('s3', 'sqlite:///C:/Users/CLE.LAPTOP-2PS9VE42/Desktop/LearnCo/Mod1Project/IMDB_data_30_Jul_2019.db')

In [2]:
# Installation of unofficial BoxOfficeMojo API
# !pip install BoxOfficeMojo

In [3]:
# #TheMovieDB.org stuff:

# #API Key (v3 auth)
# v3TMDB_key = '22eabf1b862f7841270f3bc393f1e3e8'
# #Example API Request
# #https://api.themoviedb.org/3/movie/550?api_key=22eabf1b862f7841270f3bc393f1e3e8
# #API Read Access Token (v4 auth)
# v4TMDB_Token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMmVhYmYxYjg2MmY3ODQxMjcwZjNiYzM5M2YxZTNlOCIsInN1YiI6IjVkM2Y0MDE4Y2IzMDg0MDAwZWQ2NmEzOCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.JCz-ZAv3yp5f5bNy6IpuedSIAq_yP63Se5ODlZMluf8'

In [4]:
#OpusData documentation: https://www.opusdata.com/documentation/index.php/Database_Documentation

In [160]:
# view direct movie results
x = ia.get_movie(1067106)
x.items()

[('genres', ['animation', 'drama', 'family']),
 ('kind', 'movie'),
 ('title', 'A Christmas Carol'),
 ('original title', 'A Christmas Carol'),
 ('adult', False),
 ('runtimes', [96]),
 ('year', '2009'),
 ('director', [<Person id:709[s3] name:_Robert Zemeckis_>]),
 ('writer', [<Person id:2042[s3] name:_Charles Dickens_>]),
 ('cinematographer', [<Person id:696181[s3] name:_Robert Presley_>]),
 ('cast',
  [<Person id:120[s3] name:_Jim Carrey_>,
   <Person id:198[s3] name:_Gary Oldman_>,
   <Person id:147[s3] name:_Colin Firth_>,
   <Person id:884313[s3] name:_Steve Valentine_>]),
 ('producer',
  [<Person id:710759[s3] name:_Jack Rapke_>,
   <Person id:823330[s3] name:_Steve Starkey_>]),
 ('composer', [<Person id:6293[s3] name:_Alan Silvestri_>]),
 ('rating', 6.8),
 ('votes', 92304),
 ('akas',
  [{'title': 'Los fantasmas de Scrooge', 'region': 'AR', 'ordering': 10},
   {'title': 'Sashobao istoria',
    'region': 'GE',
    'ordering': 11,
    'types': ['imdbDisplay']},
   {'title': 'Disneys Eine Weihnachtsgeschichte',
    'region': 'DE',
    'ordering': 12,
    'types': ['alternative']},
   {'title': 'Рiздвяна iсторiя', 'region': 'UA', 'ordering': 13},
   {'title': 'Soroode Christmas',
    'region': 'IR',
    'ordering': 14,
    'language': 'fa',
    'types': ['imdbDisplay']},
   {'title': 'A Christmas Carol: An IMAX 3D Experience',
    'region': 'US',
    'ordering': 15,
    'attributes': ['IMAX version']},
   {'title': 'Um Conto de Natal', 'region': 'PT', 'ordering': 16},
   {'title': 'Kaledu giesme',
    'region': 'LT',
    'ordering': 17,
    'types': ['imdbDisplay']},
   {'title': 'A Christmas Carol', 'region': 'US', 'ordering': 18},
   {'title': 'Karácsonyi ének', 'region': 'HU', 'ordering': 19},
   {'title': 'Os Fantasmas de Scrooge', 'region': 'BR', 'ordering': 1},
   {'title': "Disney's Christmas Carol",
    'region': 'JP',
    'ordering': 20,
    'language': 'en'},
   {'title': 'Yeni yil sarkisi',
    'region': 'TR',
    'ordering': 21,
    'language': 'tr'},
   {'title': "Disney's A Christmas Carol",
    'region': 'US',
    'ordering': 22,
    'attributes': ['complete title']},
   {'title': 'Božićna priča', 'region': 'HR', 'ordering': 23},
   {'title': 'Jõululugu', 'region': 'EE', 'ordering': 24},
   {'title': 'A Christmas Carol',
    'ordering': 25,
    'types': ['original'],
    'original': True},
   {'title': 'Коледна песен',
    'region': 'BG',
    'ordering': 26,
    'language': 'bg'},
   {'title': 'A Christmas Carol',
    'region': 'DK',
    'ordering': 27,
    'types': ['imdbDisplay']},
   {'title': 'Božićna pesma', 'region': 'RS', 'ordering': 28},
   {'title': 'Χριστουγεννιάτικη ιστορία', 'region': 'GR', 'ordering': 29},
   {'title': 'O poveste de Craciun', 'region': 'RO', 'ordering': 2},
   {'title': 'Рождественская история', 'region': 'RU', 'ordering': 30},
   {'title': 'Un conte de Noël',
    'region': 'CA',
    'ordering': 31,
    'language': 'fr',
    'types': ['imdbDisplay']},
   {'title': 'Eine Weihnachtsgeschichte', 'region': 'DE', 'ordering': 32},
   {'title': 'En julsaga',
    'region': 'SE',
    'ordering': 33,
    'types': ['imdbDisplay']},
   {'title': 'Hristougenniatiki istoria',
    'region': 'GR',
    'ordering': 34,
    'attributes': ['transliterated ISO-LATIN-1 title']},
   {'title': 'Saiturin joulu', 'region': 'FI', 'ordering': 35},
   {'title': 'Le drôle de Noël de Scrooge', 'region': 'FR', 'ordering': 3},
   {'title': 'Bozicna pesem 3D', 'region': 'SI', 'ordering': 4},
   {'title': 'Cuento de Navidad',
    'region': 'ES',
    'ordering': 5,
    'types': ['imdbDisplay']},
   {'title': 'Opowiesc wigilijna', 'region': 'PL', 'ordering': 6},
   {'title': 'A Christmas Carol',
    'region': 'IT',
    'ordering': 7,
    'types': ['imdbDisplay']},
   {'title': 'Los fantasmas de Scrooge', 'region': 'PE', 'ordering': 8},
   {'title': 'Vánocní koleda',
    'region': 'CZ',
    'ordering': 9,
    'types': ['imdbDisplay']}]),
 ('canonical title', 'Christmas Carol, A'),
 ('long imdb title', 'A Christmas Carol (2009)'),
 ('long imdb canonical title', 'Christmas Carol, A (2009)'),
 ('smart canonical title', 'Christmas Carol, A'),
 ('smart long imdb canonical title', 'Christmas Carol, A (2009)')]

In [63]:
df = pd.read_csv('Budget_Genre.csv', index_col = 0)
keep_list_titles = df['Movie'].tolist()
keep_list_years = df['Year'].tolist()
keep_list = list(zip(keep_list_titles, keep_list_years))
keep_list[:5]
listing = keep_list[71]
hits_ = ia.search_movie(listing[0],results=50)
for i,item in enumerate(hits_):
    try:
        if item['kind'] == 'movie' or item['region'] == 'US':
            if item['startYear'] == keep_list_years[71]:
                print(hits_[i].items(),'\n')
    except:
        pass
listing
len(keep_list)

[('genres', 'Action,Adventure,Sci-Fi'), ('startYear', 2016), ('movieID', 2660888), ('kind', 'movie'), ('title', 'Star Trek Beyond'), ('original title', 'Star Trek Beyond'), ('adult', False), ('runtimes', 122), ('canonical title', 'Star Trek Beyond'), ('long imdb title', 'Star Trek Beyond (None)'), ('long imdb canonical title', 'Star Trek Beyond (None)'), ('smart canonical title', 'Star Trek Beyond'), ('smart long imdb canonical title', 'Star Trek Beyond (None)')]

[('genres', 'Action,Adventure,Sci-Fi'), ('startYear', 2016), ('movieID', 3854562), ('kind', 'movie'), ('title', 'Star Trek: Horizon'), ('original title', 'Star Trek: Horizon'), ('adult', False), ('runtimes', 102), ('canonical title', 'Star Trek: Horizon'), ('long imdb title', 'Star Trek: Horizon (None)'), ('long imdb canonical title', 'Star Trek: Horizon (None)'), ('smart canonical title', 'Star Trek: Horizon'), ('smart long imdb canonical title', 'Star Trek: Horizon (None)')]

1388

In [3]:
imdb_hits = []
offset = 0
interval = 100
for count, item in enumerate(keep_list_titles):#[0+offset:max(+offset]): #len(keep_list)):
    hits = ia.search_movie(item, results=50)
#     print(hits[0])
    for ct, hit in enumerate(hits):
#             print(hits[ct]['kind'])
            match_qual = 0
            try:
                if hits[ct]['kind'] == 'movie':
                    match_qual += 3
            except KeyError:
                pass
            try:
                if hits[ct]['startYear'] == keep_list_years[count+offset]:
                    match_qual += 5
            except KeyError:
                pass
            try:
                if hits[ct]['title'] == keep_list_titles[count+offset]:
                    match_qual += 5
            except KeyError:
                pass
            try: 
                if hits[ct]['region'] == 'US':
                    match_qual += 3
            except KeyError:
                pass        
            if match_qual >= 11:
#                 print(hits[ct]['title'], '\n',hits[ct]['startYear'], '\n',
#                       hits[ct]['region'], '\n', hits[ct]['kind'], '\n\n')
                imdb_hits.append(hits[ct]['movieID'])

imdb_hits[0:3]
len(imdb_hits)

1207

In [ ]:
print(imdb_hits[21][2].keys())
for k,v in imdb_hits[21][2].items():
    print(imdb_hits[21][2][k])

In [233]:
# Explore/slice hitlist
imdb_hits[0:10]

[499549,
 1298650,
 4154796,
 6565702,
 2395427,
 4154756,
 449088,
 974015,
 2379713,
 1345836]

In [4]:
# obtain movie objects for hits
big_list = []
for imdbhit in imdb_hits:
    big_list.append(ia.get_movie(imdbhit))

In [53]:
big_list[0].keys()

['genres',
 'kind',
 'title',
 'original title',
 'adult',
 'runtimes',
 'year',
 'director',
 'writer',
 'editor',
 'cast',
 'producer',
 'composer',
 'cinematographer',
 'rating',
 'votes',
 'akas',
 'canonical title',
 'long imdb title',
 'long imdb canonical title',
 'smart canonical title',
 'smart long imdb canonical title']

In [59]:
# collect run times by ID
runtimes = {}

for j, big_listing in enumerate(big_list):
    try:
        runtimes[imdb_hits[j]] = big_listing['runtimes'][0]
    except KeyError:
        pass
runtimes
runtime_df = pd.DataFrame.from_dict(runtimes, orient='index', columns = ['runtime - m'])
# runtime_df.head()

# collect years of release by ID
years = {}

for j, big_listing in enumerate(big_list):
    try:
        years[imdb_hits[j]] = big_listing['year']
    except KeyError:
        years[imdb_hits[j]] = 1111
years
year_df = pd.DataFrame.from_dict(years, orient='index', columns = ['year - IMDb'])
year_df.head()

        year - IMDb
499549         2009
1298650        2011
2395427        2015
4154756        2018
974015         2017

In [6]:
#collect genre lists by ID
genres = {}
for j, big_listing in enumerate(big_list):
    try:
        genres[imdb_hits[j]] = ", ".join(big_listing['genres'])
    except KeyError:
        pass
genres
genres_df = pd.DataFrame.from_dict(genres, orient='index', columns = ['genres - IMDb'])
genres_df.head()

                      genres - IMDb
499549   action, adventure, fantasy
1298650  action, adventure, fantasy
2395427   action, adventure, sci-fi
4154756   action, adventure, sci-fi
974015   action, adventure, fantasy

In [7]:
#collect directors by ID
directors = {}
for j, big_listing in enumerate(big_list):
    try:
        director_list = []
        for i,dirctr in enumerate(big_listing['director']):
            director_list.append(dirctr['name'])    
        directors[imdb_hits[j]] = ", ".join(director_list)
    except KeyError:
        pass
directors
directors_df = pd.DataFrame.from_dict(directors, orient='index', columns = ['directors'])
directors_df.head()

                        directors
499549              James Cameron
1298650              Rob Marshall
2395427               Joss Whedon
4154756  Anthony Russo, Joe Russo
974015                Zack Snyder

In [8]:
# collect cast by ID
cast = {}
for j, big_listing in enumerate(big_list):
    try:
        cast_list = []
        for i, actor in enumerate(big_listing['cast']):
            cast_list.append(actor['name'])    
        cast[imdb_hits[j]] = ", ".join(cast_list)
    except KeyError:
        pass
cast
cast_df = pd.DataFrame.from_dict(cast, orient='index', columns = ['cast'])
cast_df.head()

                                                      cast
499549   Sam Worthington, Zoe Saldana, Sigourney Weaver...
1298650  Johnny Depp, Penélope Cruz, Ian McShane, Geoff...
2395427  Robert Downey Jr., Chris Evans, Mark Ruffalo, ...
4154756  Robert Downey Jr., Chris Hemsworth, Mark Ruffa...
974015    Ben Affleck, Gal Gadot, Jason Momoa, Ezra Miller

In [9]:
# collect titles by ID
titles = {}

for j, big_listing in enumerate(big_list):
    try:
#         if len(big_listing['runtimes']) > 1:
#             print("WARNING ", big_listing['runtimes'])
        titles[imdb_hits[j]] = big_listing['title']
    except KeyError:
        pass
titles
title_df = pd.DataFrame.from_dict(titles, orient='index', columns = ['title - IMDb'])
title_df.head()

                                        title - IMDb
499549                                        Avatar
1298650  Pirates of the Caribbean: On Stranger Tides
2395427                      Avengers: Age of Ultron
4154756                       Avengers: Infinity War
974015                                Justice League

In [64]:
imdb_df_a = pd.merge(title_df, runtime_df, left_index = True, right_index = True, how="outer")
imdb_df_b = pd.merge(imdb_df_a, genres_df, left_index = True, right_index = True, how="outer")
imdb_df_c = pd.merge(imdb_df_b, directors_df, left_index = True, right_index = True, how="outer")
imdb_df_d = pd.merge(imdb_df_c, year_df, left_index = True, right_index = True, how="outer")
imdb_df = pd.merge(imdb_df_d, cast_df, left_index = True, right_index = True, how="outer")
imdb_df['KEY - IMDb'] = imdb_df["title - IMDb"] + ' - ' +imdb_df["year - IMDb"].map(str)
imdb_df.head()

,title - IMDb,runtime - m,genres - IMDb,directors,year - IMDb,cast,KEY - IMDb
120667,Fantastic Four,106.0,"action, adventure, fantasy",Tim Story,2005,"Ioan Gruffudd, Michael Chiklis, Chris Evans, J...",Fantastic Four - 2005
200465,The Bank Job,111.0,"crime, thriller",Roger Donaldson,2008,"Jason Statham, Saffron Burrows, Stephen Campbe...",The Bank Job - 2008
206634,Children of Men,109.0,"drama, sci-fi, thriller",Alfonso Cuarón,2006,"Julianne Moore, Clive Owen, Chiwetel Ejiofor, ...",Children of Men - 2006
249516,Foodfight!,91.0,"action, animation, comedy",Lawrence Kasanoff,2012,"Hilary Duff, Haylie Duff, Charlie Sheen, Eva L...",Foodfight! - 2012
259324,Ghost Rider,114.0,"action, fantasy, thriller",Mark Steven Johnson,2007,"Nicolas Cage, Eva Mendes, Sam Elliott, Matt Long",Ghost Rider - 2007

In [113]:
# imdb_df.duplicated(subset = 'title - IMDb', keep=False)
net_df.iloc[1040]

Release Date               2013-03-22
Movie                     On the Road
Budget                       25000000
Domestic Gross                 720828
Worldwide Gross               9313302
Year                             2013
Week                               12
Dom_Profits                 -24279172
WW_Profits                  -15686698
movie_name                On the Road
genre                           Drama
%ROI                        -0.971167
KEY                On the Road - 2013
title - IMDb              On the Road
runtime - m                        87
genres - IMDb             documentary
directors                  Marvin Dau
year - IMDb                      2013
cast                              NaN
KEY - IMDb         On the Road - 2013
Name: 1040, dtype: object

In [116]:
net_df = pd.merge(df, imdb_df, left_on='KEY', 
                  right_on='KEY - IMDb', how = "inner")
# print(net_df.shape)
net_df.drop(bad_data, inplace=True)
# net_df.shape
net_df.reset_index(drop = True, inplace=True)
net_df.shape
# net_df.tail(2)

(1202, 20)

In [120]:
director_list = []
for k, indx in enumerate(net_df['directors']):
    if ", " in net_df['directors'][k]:
        for _director in net_df['directors'][k].split(", "):
            director_list.append(_director)
    else:
        director_list.append(indx)
d_list_nodups = sorted(list(set(director_list)))
print('Director count:', len(d_list_nodups))


cast_list = []
for k, indx in enumerate(net_df['cast']):
    if ", " in net_df['cast'][k]:
        for performer in net_df['cast'][k].split(", "):
            cast_list.append(performer)
    else:
        cast_list.append(indx)
c_list_nodups = sorted(list(set(cast_list)))
print('Performer count:', len(c_list_nodups))
d_list_nodups[0:10]

Director count: 717
Performer count: 2013

['Aaron Seltzer',
 'Abby Kohn',
 'Abhijit Guha',
 'Adam McKay',
 'Adam Shankman',
 'Adrian Molina',
 'Akiva Goldsman',
 'Akiva Schaffer',
 'Alan Poul',
 'Alan Taylor']

In [114]:
# identify bad data

bad_data = []

dtype_count = {}
for n, entry in enumerate(net_df['directors']):
    if type(entry) not in type_count.keys():
        type_count[type(entry)] = 1
        print(n, entry)
    else:
        type_count[type(entry)] += 1
        if type(entry) == float:
            print(n, entry)
            bad_data.append(n)
print('Director types:', dtype_count)          

ctype_count = {}
for n, entry in enumerate(net_df['cast']):
    if type(entry) not in type_count.keys():
        type_count[type(entry)] = 1
        print(n, entry)
    else:
        type_count[type(entry)] += 1
        if type(entry) == float:
            print(n, entry)
            bad_data.append(n)
print('Cast types:', ctype_count)     
bad_data

1002 nan
Director types: {}
596 nan
981 nan
1040 nan
1175 nan
Cast types: {}

[1002, 596, 981, 1040, 1175]

In [157]:
# group all the cleaned data by gen
from itertools import chain

cols_g = net_df.columns.difference(['genres - IMDb'])
genres_IMDb = net_df['genres - IMDb'].str.split(', ')

net_df_g =  (net_df.loc[net_df.index.repeat(genres_IMDb.str.len()), cols_g]
         .assign(genres_IMDb=list(chain.from_iterable(genres_IMDb.tolist()))))

cols_c = net_df.columns.difference(['cast'])
cast_IMDb = net_df['cast'].str.split(', ')

net_df_c =  (net_df.loc[net_df.index.repeat(cast_IMDb.str.len()), cols_c]
         .assign(cast_IMDb=list(chain.from_iterable(cast_IMDb.tolist()))))

cols_d = net_df.columns.difference(['directors'])
directors_IMDb = net_df['directors'].str.split(', ')

net_df_d =  (net_df.loc[net_df.index.repeat(directors_IMDb.str.len()), cols_d]
         .assign(directors_IMDb=list(chain.from_iterable(directors_IMDb.tolist()))))


net_df_c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4817 entries, 0 to 1201
Data columns (total 20 columns):
%ROI               4817 non-null float64
Budget             4817 non-null int64
Dom_Profits        4817 non-null int64
Domestic Gross     4817 non-null int64
KEY                4817 non-null object
KEY - IMDb         4817 non-null object
Movie              4817 non-null object
Release Date       4817 non-null object
WW_Profits         4817 non-null int64
Week               4817 non-null int64
Worldwide Gross    4817 non-null int64
Year               4817 non-null int64
directors          4817 non-null object
genre              4817 non-null object
genres - IMDb      4817 non-null object
movie_name         4817 non-null object
runtime - m        4778 non-null float64
title - IMDb       4817 non-null object
year - IMDb        4817 non-null object
cast_IMDb          4817 non-null object
dtypes: float64(2), int64(7), object(11)
memory usage: 790.3+ KB

In [192]:
Comedies_c = net_df_c[net_df_c.genre.isin(['Comedy','Romantic Comedy', 'Black Comedy'])]
Comedies_c
Comedies_d = net_df_d[net_df_d.genre.isin(['Comedy','Romantic Comedy', 'Black Comedy'])]
Comedies_d

# Comedies_c[Comedies_c['%ROI'] > 0]
# Comedies_d = net_df_d[net_df_d.genre.isin(['Comedy','Romantic Comedy', 'Black Comedy'])].groupby(by='cast_IMDb')['%ROI'].mean()

#Make a sub df of cast and ROI
Comedies_c2 = Comedies_c[['cast_IMDb', '%ROI']]
#Grouped by cast and Calculated the mean ROI
Comedies_c_avgROI = Comedies_c2.groupby('cast_IMDb').mean()
#Sorted the df by mean ROI
Comedies_c_avgROI.sort_values('%ROI', inplace = True, ascending=False)
Comedies_c_avgROI.head(25)
#saved the sorted genres as a list to feed into plot order
# net_df_c_avgROI_sorted = net_df_c_avgROI.index.tolist()

                        %ROI
cast_IMDb
Hailee Steinfeld    5.355042
Steve-O             4.861485
Ryan Dunn           4.861485
Bam Margera         4.861485
Johnny Knoxville    4.861485
Constance Wu        4.817764
Gemma Chan          4.817764
Michelle Yeoh       4.817764
Henry Golding       4.817764
Justin Bartha       4.552152
Terry Crews         4.206514
Brittany Snow       3.343049
Madison Pettis      3.120373
Kyra Sedgwick       3.120373
Roselyn Sanchez     3.120373
Kathryn Hahn        3.119123
Jada Pinkett Smith  3.111018
Emma Roberts        3.064706
Amanda Peet         2.843055
Nick Offerman       2.834387
Tika Sumpter        2.819835
Jennifer Lawrence   2.752945
Michael McDonald    2.711200
Sandra Bullock      2.711200
Demián Bichir       2.711200

In [193]:
#Make a sub df of cast and ROI
Comedies_d2 = Comedies_d[['directors_IMDb', '%ROI']]
#Grouped by cast and Calculated the mean ROI
Comedies_d_avgROI = Comedies_d2.groupby('directors_IMDb').mean()
#Sorted the df by mean ROI
Comedies_d_avgROI.sort_values('%ROI', inplace = True, ascending=False)
Comedies_d_avgROI.head(10)
#saved the sorted genres as a list to feed into plot order
# net_df_c_avgROI_sorted = net_df_c_avgROI.index.tolist()

                             %ROI
directors_IMDb
Elizabeth Banks          5.355042
Jeff Tremaine            4.861485
Jon M. Chu               4.817764
Jon Lucas                3.119123
Scott Moore              3.119123
Christopher Miller       2.565380
Phil Lord                2.565380
Tim Story                2.449733
Rawson Marshall Thurber  2.306762
Paul Feig                2.269679